<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Mensajes</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <script defer th:src="@{/js/app.js}"></script>

</head>
<body>

<div class="dashboard">
    <aside class="sidebar">
        <h2>Panel</h2>
        <ul>

        </ul>
    </aside>

    <main class="content">
        <header>
            <h1>Mensajes Programados integrado con Discord <a href="https://discord.com/" target="_blank">
                <i class="fa-brands fa-discord" style="font-size: 32px; color: #4d309e; margin-left: 10px;"></i>
            </a></h1>

        </header>

        <section class="form-container">
            <h2>Nuevo Mensaje</h2>
            <form id="messageForm">
                <label for="text">Mensaje:</label>
                <input type="text" id="text" name="text" required>

                <label for="scheduledDate">Fecha programada:</label>
                <input type="datetime-local" id="scheduledDate" name="scheduledDate" required>

                <button type="submit">Guardar Mensaje</button>
            </form>
            <div id="notificationContainer" class="notifications"></div>

        </section>

        <section class="messages-container">
            <h2>Mensajes Programados</h2>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Mensaje</th>
                    <th>Fecha Programada</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody id="messagesTable">
                <!-- Se cargarán los mensajes aquí -->
                </tbody>
            </table>
        </section>

    </main>
</div>

</body>
</html>
